.slide-container {
    width: 300vw;
    /* margin - left 보다 성능 좋음*/
    /* transform: translate(-100vw); */

    transition: all ls;
}

.slide-box {
    width: 100vw;
    float: left;
}

.slide-box img {
    width: 100%;
}