.slide-container {
    width: 300vw;

    /* 성능 우위 */
    /* transform: translate(-100vw);
    transition: all 1s; */
}

.slide-box {
    width: 100vw;
    float: left;
}

.slide-box img {
    width: 100%;
}